{% extends "base.html"%}
{% block css %}
    <!-- Datatables -->
    <link href="http://192.168.124.141/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="http://192.168.124.141/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="http://192.168.124.141/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="http://192.168.124.141/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="http://192.168.124.141/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- Datatables -->
    <!-- 弹出表单 -->
    <link href="http://192.168.124.141/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <link href="http://192.168.124.141/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="http://192.168.124.141/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="http://192.168.124.141/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <style type="text/css">
    #LoginBox{width:700px;height:282px;display:none;margin:0 auto;}
    </style>
    <!-- 弹出表单 -->
{% endblock %}
{% block content %}
        <!-- page content -->

           <div class="row" id="LoginBox">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                   <div class="title_left"><h5>添加区域信息
                      <ul class="nav navbar-right panel_toolbox">
                      <li><a class="close-link"><i class="fa fa-close" id="close"></i></a></li>
                      </ul>
                      </h5>
                   </div>
                  </div>
                  <div class="x_content">
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-primary">Cancel</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
          </div>
        <!-- /page content -->
{% endblock %}
{% block script %}
    <!-- Datatables -->
    <script src="http://192.168.124.141/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="http://192.168.124.141/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="http://192.168.124.141/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="http://192.168.124.141/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="http://192.168.124.141/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="http://192.168.124.141/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="http://192.168.124.141/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="http://192.168.124.141/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="http://192.168.124.141/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="http://192.168.124.141/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="http://192.168.124.141/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="http://192.168.124.141/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="http://192.168.124.141/vendors/jszip/dist/jszip.min.js"></script>
    <script src="http://192.168.124.141/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="http://192.168.124.141/vendors/pdfmake/build/vfs_fonts.js"></script>
    <!-- Datatables -->
    <!-- 弹出表单 -->
    
    <!-- 弹出表单 -->

    <!-- /Datatables -->
    <script>
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        TableManageButtons.init();
      });
    </script>
    <!-- /Datatables -->
    <!-- 弹出表单 -->
    <script type="text/javascript">
      //弹出登录
      $(function () {
        $("#example").click(function(){
          $("#LoginBox").css({ display: 'block' });
        });
        });
      </script>
      <!-- 弹出表单 -->

{% endblock %}
